@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,800');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100%;
    overflow-x: hidden;
}

img{
    width: 100%;
}
a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
a:visited{
    color: #333;
}
a:hover{
    text-decoration: none;
    color: #f15a24;
    transition: all .3s;
}

textarea{
    resize: none;
}
/* modifying bs4 css*/
    .container-fluid{
        padding-right: 0;
        padding-left: 0;
        max-width: 1440px;

    }
    .row{
        margin: 0;
    }
 
 

/* Header */

    /* menu top */
        #menu{
            width: 100%;
            background: white;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 7.32%;
        }
        #menu-ul{
            height: auto;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 0;
        }
        .fixed-menu .menu-items-li{
            padding: 15px;

        }
        .menu-items-li{
            padding: 20px;
            height: 100%;
            justify-content: center;
            
        }
        .menu-items-li a{
            font-size: 1.2em;
            line-height: 24pt;
            font-weight: 300;

        }
    /* menu fixed */
        .top-menu{
            position: absolute;
            top: 0;
            left: 0;
            height: 75px;

        }
        .fixed-menu{
            position: fixed;
            width: 100%;
            height: auto;
            border-bottom: 1px solid #f15a24;
            z-index: 3;
            box-shadow: 0px 0px 10px 1px #5555;
            animation: menu-slidedown .5s;
        }
    /* menu mobile */
        #menu-ul-mobile{
            display: none;		
        }
        #menu-ul-mobile li{
            padding: 5%;

        }
        #menu-ul-mobile li>a{
            color: #ff6633;            
        }
        #menu-ul-mobile li:hover{
            background: #ff6633;
            transition: all .5s;
        }
        #menu-ul-mobile li:hover > a{
            color: white;
            transition: all .3s;

        }
        .label-menu {
            position: absolute;
            top: 1.5%;
            left: 7.32%;
            cursor: pointer;
            padding: 0px 6px;
            transition: .4s all;
            z-index: 5;
        }
        .label-menu img{
            width: 25px !important;
        }
        
     
        

        #checkbox-menu:checked~.label-menu {
            background: #ff6633;
            border-radius: 2px;
            padding: 1%;
        }
        #checkbox-menu:checked~.label-menu {
            left: 81%;
            transform: rotatez(90deg);

        }
        #checkbox-menu:checked~#bg{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            background-color: rgba(0, 0, 0, 0.6);
            overflow: hidden;
            
        }
        #checkbox-menu:checked~#menu-ul-mobile{
            position: fixed;
            background: white;
            width: 80%;
            height: 100%;
            z-index: 5;
            top: 0;
            left: 0;
            display: block;
        }
        
        
        #checkbox-menu:checked~#bg{
            -webkit-animation: menu .44s forwards;
            animation: menu .5s forwards;
        }
        #checkbox-menu:checked~#menu-ul-mobile{
            -webkit-animation: menu .7s forwards;
            animation: menu .8s forwards;
        }
    /* Menu mobile animations */
    /* animations */
			@-webkit-keyframes menu {
			    from {

			        transform: translateX(-400px);
			    }
			    to {
			        transform: translateX(0);
			    }
			}


			/* Standard syntax */

			@keyframes menu {
			    from {
			        transform: translateX(-400px);
			    }
			    to {
			        transform: translateX(0);
			    }
			}
    /* slide/banner */
        #head-slider{
            width: 100%;
            height: 550px;
            background: url('../images/background_header.jpg') no-repeat;
            background-size: cover;
            background-position: left; 
            display: flex;
            align-items: flex-end;           
        }
        .slider-items{
            position: absolute;
            width: 100%;
            max-width: 1440px;
            padding: 80px 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            z-index: 1;
        }
        .slider-items .info{
            width: 60%;
            padding: 0 5%;
        }
        .info > h1,
        .info-paragraph{ 
            color: white;
            text-justify: auto;
            font-weight: 300;
        }
        .info > h1{
            font-size: 4em;
            font-weight: bold;
            text-align: left;

        }
        .info-paragraph{
            font-size: 1.5em;
            line-height: 30pt;
            text-align: left;
        }
        .info button{
            width:100%;
            padding: 10px;
            background: white;
            border: none;
            color:#333;
            font-weight: 300;
            cursor: pointer;
            outline: 0;
        }
        .info button:active{
            color: #f15a24;
        }
      


    /* Slide animation classes */
        .animationOut{
            opacity: 0;
           animation: out .4s;
        }
        .animationIn{
            animation: in .3s;
        }

        @keyframes out {
            from {
               
                opacity: 1;
            }
            to {
             
                transform: rotatey(180deg);
                opacity: 0;
            }
        }

        @keyframes in {
            from {
                transform: rotatey(180deg);
              
                opacity: 0;
            }
            to {
               
               opacity: 1;
            }
        }

        /* menu animation */
        @keyframes menu-slidedown {
            from {
                top: -80px;
            }
            to {
                top: 0;
            }
        }
    
    .slider-navigation{
        width: auto;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        z-index: 1;
        
    }   
    .slider-navigation div[class^="item-"]{
        width: 10px;
        height: 10px;
        margin: 10px 20px;
        background: #bbb;
        cursor: pointer;
        border-radius: 50%;
    }
    .slider-navigation .active{
        background: white !important;
        transform: scale(1.1, 1.1);
        transition: all .9s;
    }
/* =============================================== */
/* Main */
        .tgroup{
            display: block;
            text-align: center; 
        }
        .tgroup h2{
            font-weight: 800;
            color: #28a745;
            text-transform: uppercase;
        }
        .tgroup h6{
            text-transform: uppercase;
            font-weight: 300;
        }
        main section{
            width: 100%;
            padding: 7.32% 2%;
        }
        #skills #skill-items{
            padding: 20px;
        }
        #skills #skill-items div{
            padding: 2%;
            cursor: pointer;
        }        
        #skills #skill-items div > span{
            font-size: 0.8em;
            display: block;
            margin: auto;
            text-align: center;
            color: #666;
            opacity: 0;
        }
        #skills #skill-items div:hover{
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);

            transition: all .4s;
        }
        #skills #skill-items div span:hover{
            color: #f15a24;
        }
        #skills #skill-items div:hover > span{
            opacity: 1;
            transition: all .5s;
        }



        #skills #skill-items img{
            width: 100px;
            display: block;
            margin: auto;
        }
        
        #skills #skill-items p,h5{
            text-align: center;
            color: #333;
            width: 100%;
            margin: 10% auto;
        }        

        
    /* portfolio */

        #portfolio-filter ul{
            width: 100%;
            margin: 5% auto;
            display: flex;
            justify-content: center;
            border-bottom: 2px solid #aaa;
            list-style: none;
        }
        .portfolio-filter-item{
            padding: 1% 2%;   
        }

        .carousel-showcase{
            overflow: hidden !important;
        }
        .portfolio-showcase{
            height: 200px;
            padding: 2px;
            margin: auto;
            background: #ccc;
        }
        .portfolio-showcase img{
            height: 100%;
        }
     
    /* Budget */
        div[class^="card-budget"]{
            width: 90%;
            max-width: 250px;
            margin: 0 auto;
            height: 450px;
            background-color:#fff;
            box-shadow: 0px 2px 5px 0px #cecece;
            border-radius: 5px;
            cursor: pointer;
         
        }
        div[class^="card-budget"]:hover{
            width: 100%;
            max-width: 270px;
            height: 470px;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
            transition: all .3s ease-in-out;
        }
        div[class^="card-budget"]:hover .card-body div{
            opacity: 1;
            transition: all 1s;
        }
        .card-budget-main{
            height: 500px !important;
        }
        .card-budget-main:hover{
            height: 520px !important;
            transition: all .3s;
        }
        .card-head{
            width: 100%;
            height: 30%;
            background-color: lightgreen;
        }
        .card-middle{
            width: 100%;
            height: 0;
         }
        .budget-price{
            height: 100px;
            width: 100px;
            position: absolute;
            left: calc(50% - 50px);
            background-color: #f15a24;
            border-radius:50%;
            display: flex;
            align-items: center;
        }
        .budget-price span{
            font-size: 1.5em;
            font-weight: bold;
        }
        .budget-price h5{
            text-align: center;
            color: white;
            font-size: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .card-body{
            width: 100%;
            height: 70%;
            padding: 5%;
            box-sizing: border-box;
        }
        .card-body div{
            color: #333;
            text-align: center;
            width: 100%;
            margin-top: 10%;
            opacity: 0;

        }
        .card-body div:hover{
            color: #f15b24c4;
            transition: color .5s;
        }
        
        .card-list{
            padding:50px 10px 0px 10px;
            overflow: hidden;
        }
        .card-list li{
            margin: 10px auto;
            color: #f15a24;
            font-size: 1em;
            font-weight: 400;
            text-align: center;
        }
        .purshase-budget{
            width: 50%;
            margin: auto;
            border: none;
            background-color: lightgreen;
            padding: 5px;
            color: #f15a24;
            border-radius: 5%; 
            cursor: pointer;
        }
    /* About */
        .circle{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #f15a24;
            color: white;
            text-align: center;
            line-height: 100px;
            margin: auto;
        }
        .bar{
            width: 2px;
            height: 75px;
            margin: 20px auto;
            background: #f15a24;
        }
        .about-title{
            text-align: center;
            font-size: 16pt;
            font-weight: 300;
        }
        .about-paragraph{
            text-align: justify;
            color: #333;

        }
       
        .about-content-divisor{
            background: #aaa;
        }

      
    /* parallax banner */
        #portfolio-banner{
            background: url('../images/banner_portfolio.jpg') fixed;
            background-size: cover;

        }
        #about-banner{
            background: url('../images/banner_sobre.jpg') fixed;
            background-size: cover;

        }
        #contact-banner{
            background: url('../images/banner_contact.jpg') fixed;
            background-size: cover;

        }
        #blog-banner{
            background: url('../images/banner_blog.jpg') fixed;
            background-size: cover;

        }
        section.parallax{
            width: 100%;
            height: auto;
        }
        .parallax-paragraph{
            text-align: center;
            margin: auto;
            font-size: 1.5em;
            font-weight: 400;
            width: 100%;
            padding: 0 25%;
            font-style: italic;
            color: white;
        }
        section.parallax span{
            float: right;
            font-size: 0.7em;

        }
/* Contact */
#contact{
    padding:7.32% 2%;
}

/* media querries */

         
                
    @media only screen and (min-width: 1140px){
        /* responsive about */
            .about-text-content-left{
                padding-left: 15%;
            }
            .about-text-content-right{
                padding-right: 15%;
            }
    }    
    @media only screen and (max-width: 1140px){
        /* responsive banner */
            .slider-items .info{
                width: 100%;
                margin-left: 0;
                padding: 0 5% 20px 5%;
            }
            .info > h1{
                font-size: 2.7em;
            }
            .info-paragraph{
                font-size: 1.3em;
                line-height: 24pt;
            }
            .slider-items{
                padding: 5% ;
            
            }
        /* responsive parrallax text */
            .parallax-paragraph{
                padding: 0 15%;
            }

       
    }
    @media only screen and (max-width: 720px){
         /* responsive banner */
            .slider-img{
                display: none;
            }
            .info{
                width: 100%;
                padding: 0;
            }
        /* responsive parrallax text */
            .parallax-paragraph{
                padding: 0 10%;
                font-size: 1em;

            }
            section.parallax{
                padding: 20% 0;
            }
    }




     
/* support classes */
.f1{
    font-size: 1em;
}